body {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background-color: red;
  font-size: 70px;
  padding: 20px;
}
